<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MeRich Stock Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
</head>


<body>
    <div class="container">
        <div class="row">
            <form method="POST" class="form-group">
                <div class="col-md-4">
                    <h1 class="dashboard-title">MeRich Stock Dashboard</h1>
                    <h4 class="dashboard-subtitle">Analyze a stock of your choice</h4>
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}

                    <input
                        type="text"
                        name="ticker"
                        class="text-field"
                        placeholder="Ticker Symbol (e.g. AAPL)"
                        value="{{ ticker or '' }}"
                        required
                    >

                    <!-- PERIOD -->
                    <h2 class="pref-title">Period</h2>
                    <div class="radio-group">
                        {% for p in ["1D","1W","1M","1Y","5Y","MAX","YTD"] %}
                            <label>
                                <input type="radio" name="period" value="{{ p }}"
                                    {% if period == p %}checked{% endif %}>
                                {{ p.upper() }}
                            </label>
                        {% endfor %}
                    </div>

                    <!-- INTERVAL -->
                    <h2 class="pref-title">Interval</h2>
                    <div class="radio-group">
                        {% for i in ["1D","1W","1M"] %}
                            <label>
                                <input type="radio" name="interval" value="{{ i }}"
                                    {% if interval == i %}checked{% endif %}>
                                {{ i }}
                            </label>
                        {% endfor %}
                    </div>

                    <div class="button-container">
                        <button name="refresh" type="submit" class="refresh-btn">
                            Refresh Chart
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="options-bar" style="margin-bottom: 20px;">
                        <a href="#" id="visual" class="btn btn-primary active" data-tab="visual">Visualization</a>
                        <a href="#" id="metric" class="btn btn-primary" data-tab="metrics">Metrics</a>
                        <a href="#" id="summary" class="btn btn-primary" data-tab="summary">Summary</a>
                        <a href="#" id="compare" class="btn btn-primary" data-tab="compare">Compare</a>
                    </div>
                    <div id="visual-section">
                        <h2 class="pref-title">Chart Type</h2>
                        <div class="radio-group">
                            <label>
                                <input type="radio" name="chart_type" value="candle"
                                    {% if chart_type == "candle" %}checked{% endif %}>
                                Candlestick
                            </label>

                            <label>
                                <input type="radio" name="chart_type" value="line"
                                    {% if chart_type == "line" %}checked{% endif %}>
                                Line
                            </label>
                        </div>

                        {% if chart_html %}
                        <div>
                            {{ chart_html | safe }}
                        </div>
                        {% endif %}
                    </div>
                    <div id="metrics-section">
                        <h1>Stock Performances</h1>
                        {% if metrics %}
                        <div class="metrics">
                            {% for i in metrics %}
                                <div class="metric">
                                    <h4 class="metric-text">    
                                        <span class="metric-label">{{ i }}:</span>
                                        <span class="metric-value">{{ metrics[i] }}</span>
                                    </h4>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div id="compare-section">
                        <input
                            type="text"
                            name="compare_ticker"
                            class="text-field"
                            placeholder="Compare Ticker (e.g. AAPL)"
                            value="{{ compare_ticker or '' }}"
                        >
                        {% if compare_html %}
                        <div>
                            {{ compare_html | safe }}
                        </div>
                        {% endif %}
                    </div>
                    <div id="summary-section">
                        <div class="ratings">
                            <h1 class="rating-header">{{ ticker }} </h1>
                            <h3 class="rating-labels"> Rating: <span class="rating-content">Dude</span>/10 </h3>
                            <h3 class="rating-labels"> Buyer Consensus: <span class="rating-content">{{buyer_consensus}}</span> </h3>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Add below comparison to benchmark-->

    </div>
</body>
</html>
